body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #ccc;

  .head {
    display: flex;
    flex-direction: row;
    widows: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
    background: #f00;

    h1 {
      color: #fff;
      font-size: 20px;
    }
  }

  .posts {
    margin: 30px auto 0 auto;
    min-height: 200px;
    max-width: 700px;
    background: #fff;
    border: solid 1px #999;
    padding: 15px;
  }

  p {
    color: #666;
    margin-top: 30px;
    padding-top: 30px;
    border-top: solid 1px #ccc;
  }

  .postHeader {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;

    img {
      height: 60px;
      border-radius: 50%;
      margin-right: 20px;
    }

    h2 {
      font-size: 14px;
      color: #666;
    }

    div {
      span {
        font-size: 12px;
        color: #999;
      }
    }
  }
}
